<div class="container">
    <mat-form-field appearance="fill">
        <mat-label>Search Products</mat-label>
        <input matInput #searchInput placeholder="Enter product name or description" (input)="searchProducts(searchInput.value)">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Please select a category</mat-label>
        <mat-select (selectionChange)="onCategorySelect($event.value)">
            <mat-option *ngFor="let category of categories$ | async" [value]="category">
                {{ category }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Sort By</mat-label>
        <mat-select (selectionChange)="changeSortOrder($event.value)">
            <mat-option value="name">Name</mat-option>
            <mat-option value="price">Price</mat-option>
            <!-- Add more sorting options as needed -->
        </mat-select>
    </mat-form-field>

    <div class="product-list">
        <ng-container *ngFor="let product of products$ | async">
            <app-product-detail [product]="product"></app-product-detail>
        </ng-container>
    </div>
</div>
